<div class="row content top-parent" *ngIf="pokemon">
    <div class="flex center w-full title">
        <img [src]=getPokemonIcon(pokemon)>
        <h1>{{pokemon.name}}</h1>
        <button mat-icon-button class="" (click)="editNameDialog()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="deletePokemon()"><mat-icon>delete</mat-icon></button>
    </div>
    <div class="card-container">
        <mat-card class="card padding-16 margin-10" *ngFor="let move of pokemon?.moveset; let i = index;">
            <div class="flex right">
                <button mat-icon-button class="" (click)="editMoveDialog(i)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="deleteMove(move)"><mat-icon>delete</mat-icon></button>
            </div>
            <mat-card-content>
                <div class="center flex">
                    <span class="padding-half bold xlarge">{{move}}</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card padding-16 margin-10" *ngFor="let i of generateArr()">
            <mat-card-content>
                <div class="center flex">
                    <button mat-icon-button class="padding-half" (click)="addMoveDialog()"><mat-icon>add_circle</mat-icon></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>