.card {
    background-color: rgba(151, 151, 214, 0.603);
    width: calc(50% - 20px);
    min-height: 160px
}

.margin-10 {
    margin: 10px 10px;
}

.padding-4 {
    padding: 4px
}

.left-padding {
    padding-left: 5%;
}

.padding-top-10 {
    padding-top: 10px;
}

.title {
    height: 100px
}

.move-buttons {
    margin: 0px 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

.icon_button {
    margin-left: 20px;
}